@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <p>
       SportsPro offers a wide variety of features ranging from 
        <ul><bold>Features are as follows</bold>
            <li>Incident Page</li>
            <li>Product Manager</li>
            <li>Customer Manager</li>
        </ul>
    </p>
</div>

